{% extends "base.html" %}
{% block title %}
Профайл пользователя {{ user_ }}
{% endblock title %}
{% block content %}
<div class="container py-5">
  <div class="mb-5">
    <p>
      <h1>Все посты пользователя {{ user_.get_full_name }}</h1>
      <h3>Всего постов: {{ user_.posts.count }}</h3>
    </p>

      {% if follow_flag == 1 %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' user_.username %}" role="button"
      >
        Отписаться
      </a>
      {% elif follow_flag == 0 %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' user_.username %}" role="button"
      >
        Подписаться
      </a>
      {% endif %}

  </div>
  <br><br>
  {% for post in page_obj %}
    {% include 'includes/post_frame.html' %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
</div>
{% endblock content %}
