{% extends "base.html" %}
{% block title %}
Профайл пользователя {{ author }}
{% endblock title %}
{% block content %}
<div class="container py-5">
  <div class="mb-5">
    <p><h1>Все посты пользователя {{ author.username }}</h1></p>
    <aside class="col-12 col-md-3 mb-2 mt-2 shadow-sm">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3>Автор: <b>{{ author.get_full_name }}</b></h3>
        </li>
        <li class="list-group-item">
          Всего постов: {{ author.posts.count }}
        </li>
        <li class="list-group-item">
          Всего подписок: {{ author.follower.count }}
        </li>
        <li class="list-group-item">
          Всего подписчиков: {{ author.following.count }}
        </li>
        <li class="list-group-item">
          
        </li>
      </ul>
    </aside>
      {% if follow_flag == 0 %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
      {% elif follow_flag == 1 %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
      {% comment %} Минутка юмора {% endcomment %}
      {% elif follow_flag == -1 %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'users:kmp' user.username %}" role="button"
      >
        Отписаться
      </a>
      {% endif %}

  </div>
  <br><br>
  {% for post in page_obj %}
    {% include 'includes/post_frame.html' %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
</div>
{% endblock content %}
